IDENTITY_DB_USER=may_admin
# MUST PROVIDE SECURE PASSWORD BEFORE RUNNING
IDENTITY_DB_PASSWORD=
IDENTITY_DB_NAME=may_identity
MAY_ADMIN_PASSWORD=changeme
MAY_JWT_SECRET=<generate-a-random-secret>

# Vault Configuration
VAULT_DEV_ROOT_TOKEN_ID=dev-root-token
VAULT_ADDR=http://may-vault:8200

# REST / Query Engine Configuration
#MAY_DIALECT=postgres
#MAY_MODEL_PATH=./models

